<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Built by <a href="#">Chris Muzzin</a>. The source code can be found
        <a href="https://github.com/cmuzzin/Angular-2-Spotify">here</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/cmuzzin">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon push-right" href="https://codepen.io/cmuzzin/">
          <i class="fa fa-codepen"></i>
        </a>
        <a class="icon push-right" href="https://github.com/cmuzzin">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
