<div class="container-fluid">
  <div class="section push-around">
    <div class="message is-danger" *ngIf="noResults">
      <div class="message-body">
        <p>No results found, try a different search.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <div class="field is-grouped">
          <p class="control has-icons-left has-icons-right is-expanded">
            <input class=" input" type="text" placeholder="Search Spotify" [(ngModel)]="searchQuery"
                   (keyup.enter)="search()">
            <span class="icon is-small is-left">
                 <i class="fa fa-search"></i>
            </span>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined" (click)="search()">
              Search
            </a>
            <a class="button is-danger is-outlined" (click)="clearFieldsAndData()">
              Reset
            </a>
          </p>
        </div>
      </div>
    </div>
    <h1 class="title is-2 push-down" *ngIf="hasQuery && !noResults">Showing results for <b>{{searchQuery}}</b></h1>
  </div>
  <div class="section push-around artists push-left" *ngIf="hasQuery && artists?.length > 0 && !noResults">
    <p class="title is-2 has-text-centered">Artists</p>
    <div class="columns is-multiline">
      <div class="column is-2 clickable" *ngFor="let artist of artists" (click)="goToArtist(artist)">
        <div class="card card-hover">
          <div class="card-image">
            <figure class="image is-square">
              <img *ngIf="artist.images.length === 0" src="http://via.placeholder.com/126x126" alt="no image found">
              <img *ngIf="artist.images.length > 0" class="image is-128x128" src="{{artist.images[0].url}}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-centered">
              <p class="is-size-6 truncate push-down">{{artist.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section push-around albums push-left" *ngIf="hasQuery && albums?.length > 0 && !noResults">
    <p class="title is-2 has-text-centered">Albums</p>
    <div class="columns is-multiline">
      <div class="column is-2 clickable" *ngFor="let album of albums" (click)="goToAlbum(album)">
        <div class="card card-hover">
          <div class="card-image">
            <figure class="image is-square">
              <img *ngIf="album.images.length === 0" src="http://via.placeholder.com/126x126" alt="no image found">
              <img *ngIf="album.images.length > 0" class="image is-128x128" src="{{album.images[0].url}}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-centered">
              <p class="is-size-6 truncate push-down">{{album.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section push-around playlists push-left" *ngIf="hasQuery && playlists?.length > 0 && !noResults">
    <p class="title is-2 has-text-centered">Playlists</p>
    <div class="columns is-multiline">
      <div class="column is-2 clickable" *ngFor="let playlist of playlists" (click)="goToPlaylist(playlist)">
        <div class="card card-hover">
          <div class="card-image">
            <figure class="image is-square">
              <img *ngIf="playlist.images.length === 0" src="http://via.placeholder.com/126x126" alt="no image found">
              <img *ngIf="playlist.images.length > 0" class="image is-128x128" src="{{playlist.images[0].url}}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-centered">
              <p class="is-size-6 truncate push-down">{{playlist.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section tracks push-left" *ngIf="hasQuery && tracks?.length > 0 && !noResults">
    <div class="columns">
      <div class="column is-12">
        <table class="table search-table is-fullwidth">
          <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th></th>
            <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
            <th><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
          </tr>
          <tbody>
          <tr *ngFor="let track of tracks; let i = index" class="clickable" (dblclick)="setClickedRow(i, track)"
              [class.is-selected]="i === selectedRow">
            <td>{{track.name}}</td>
            <td><span class="td-hover" (click)="goToArtist(track.artists[0])">{{track.artists[0].name}}</span></td>
            <td><span class="td-hover" (click)="goToAlbum(track.album)">{{track.album.name}}</span></td>
            <td class="icon-hover"><i class="fa fa-plus" aria-hidden="true" (click)="toggleAddToPlaylistModal(track)"></i></td>
            <td>{{track.duration_ms}}</td>
            <td class="popularity">
              <progress class="progress  is-info" value="{{track.popularity}}" max="100"></progress>
            </td>
          </tr>
          </tbody>
        </table>
        <br>
        <button id="loadMoreSearchTracks" class="button is-primary is-outlined is-fullwidth"
                *ngIf="tracks?.length < tracksTotal"
                (click)="loadMoreTracks()">Load More Tracks
        </button>
      </div>
    </div>
  </div>
</div>
