<div class="columns push-around">
  <div class="column">
    <div class="columns is-multiline">
      <div class="column is-2-widescreen is-one-quarter-desktop" *ngFor="let album of albums">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{album?.album.images[0]?.url}}" alt="">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title is-6  clickable link-hover remove-margin-bottom-spacing" (click)="goToAlbum(album)">{{album?.album.name}}</p>
              <p class=" is-size-6 ">{{album?.album.artists[0].name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <button id="loadMoreAlbums" class="button is-primary is-outlined  is-fullwidth" *ngIf="albums?.length < albumsTotal" (click)="loadMoreAlbums()">Load More Albums</button>
      </div>
    </div>
  </div>
</div>

