<p class="title has-text-centered is-2">{{category.name}}</p>
<div class="columns push-left">
  <div class="column is-12">
    <div class="columns is-multiline">
      <div class="column is-2" *ngFor="let playlist of categoryPlaylists">
        <div class="card card-hover">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{playlist.images[0].url}}" alt="">
            </figure>
          </div>
          <div class="card-content" (click)="goToPlaylist(playlist)">
            <div class="content has-text-centered clickable">
              <p class="title is-5 truncate">{{playlist.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <button class="button is-primary is-outlined is-fullwidth" (click)="loadMoreCategories()" *ngIf="categoryPlaylists?.length < totalCategories">Load More Category Playlists</button>
      </div>
    </div>
  </div>
</div>
