<div class="container-fluid">
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container-fluid">
        <div class="columns">
          <div class="column is-6">
            <div class="columns">
              <div class="column is-3 is-pulled-right">
                <figure class="image is-128x128">
                  <img class="img-circle" src="{{artist?.images[0].url}}">
                </figure>
              </div>
              <div class="column is-9 push-down">
                <p class="title is-1">{{artist?.name}}</p>
                <p class="subtitle is-5">{{artist?.followers.total}} followers</p>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <button class="button is-primary is-medium clickable inline is-pulled-right push-down follow-button">Follow</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="columns">
    <div class="column is-12">
      <div class="tabs push-left">
        <ul>
          <li routerLinkActive="is-active"><a routerLink="/main/artist/overview">Owerview</a></li>
          <li routerLinkActive="is-active"><a routerLink="/main/artist/related-artists">Related Artist</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="columns tab-data">
    <div class="column is-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
