<div class="columns push-around">
  <div class="column">
      <button class="button is-primary" (click)="toggleCreateModal()">Create Playlist</button>
  </div>
</div>
<div class="columns is-multiline push-around">
  <div class="column is-2" *ngFor="let playlist of playlists">
    <div class="card card-hover">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{playlist.images[0].url}}" alt="" *ngIf="playlist.images.length > 0">
          <img src="http://bulma.io/images/placeholders/480x480.png" alt="" *ngIf="playlist.images.length === 0">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered">
          <p class="title is-6 truncate remove-margin-bottom-spacing clickable playlist-name" (click)="goToPlaylist(playlist)">{{playlist.name}}</p>
          <p class="owner is-size-6 truncate display-name clickable" *ngIf="playlist.owner.display_name" (click)="goToUser(playlist.owner.id)">By {{playlist.owner.display_name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class ="columns push-around">
  <div class ="column is-12">
    <button id="loadMorePlaylists" class = "button is-primary is-outlined is-fullwidth" (click)="loadMorePlaylists()" *ngIf="playlists?.length < totalPlaylists">Load more Playlists</button>
  </div>
</div>

<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title text-white">Create Playlist</p>
      <button class="delete" (click)="closeCreateModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="container-fluid">
        <div class="columns">
          <div class="column">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Playlist Name</label>
                  <div class="control full-width">
                    <input type="text" class="input" placeholder="Playlist Name" [(ngModel)]="newPlaylistName">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Playlist Description</label>
                  <div class="control">
                    <textarea class="textarea" type="text" placeholder="Playlist Description"
                              [(ngModel)]="newPlaylistDescription"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <a class="button" (click)="closeCreateModal()">Cancel</a>
      <a class="button is-primary is-outlined is-pulled-right" (click)="createNewPlaylist()">Create Playlist</a>
    </footer>
  </div>
</div>
