<div class="columns is-multiline push-around">
  <div class="column is-2" *ngFor="let playlist of playlists">
    <div class="card card-hover">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{playlist.images[0].url}}" alt="" *ngIf="playlist.images.length > 0">
          <img src="http://bulma.io/images/placeholders/480x480.png" alt="" *ngIf="playlist.images.length === 0">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered">
          <p class="title is-6 truncate remove-margin-bottom-spacing clickable playlist-name" (click)="goToPlaylist(playlist)">{{playlist.name}}</p>
          <p class="owner is-size-6 truncate display-name clickable" (click)="goToUser(playlist.owner.id)">
            {{playlist.owner.display_name ? playlist.owner.display_name : 'N/A'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class ="columns push-around">
  <div class ="column is-12">
    <button id="loadMorePlaylists" class = "button is-primary is-outlined is-fullwidth" (click)="loadMorePlaylists()" *ngIf="playlists?.length < totalPlaylists">Load more Playlists</button>
  </div>
</div>

