  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container-fluid">
        <div class="columns">
          <div class="column is-12">
            <div class="columns">
              <div class="column is-2">
                <figure class="image is-128x128 is-pulled-right">
                  <img class="img-circle user-image" src="{{user?.images[0].url}}">
                </figure>
              </div>
              <div class="column is-10 is-pulled-left">
                <p class="title is-1 user-title">{{user?.display_name}} Playlists</p>
                <p class="\ user-followers">{{user?.followers.total}} followers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="columns is-multiline push-around">
      <div class="column is-2" *ngFor="let playlist of userPlaylists">
        <div class="card card-hover">
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{playlist.images[0].url}}" alt="" *ngIf="playlist.images.length > 0">
              <img src="http://bulma.io/images/placeholders/480x480.png" alt="" *ngIf="playlist.images.length === 0">
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-centered">
              <p class="title is-6 truncate remove-margin-bottom-spacing clickable playlist-name" (click)="goToPlaylist(playlist)">{{playlist.name}}</p>
              <p class="owner is-size-6 truncate display-name clickable" (click)="goToUser(playlist.owner.id)">By {{playlist.owner.display_name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class ="columns push-around">
      <div class ="column is-12">
        <button id="loadMoreUserPlaylists" class = "button is-primary is-outlined is-fullwidth" (click)="loadMorePlaylists()"
                *ngIf="userPlaylists?.length < totalUserPlaylists">Load more Playlists</button>
      </div>
    </div>
  </section>

