<div class="columns push-left push-down">
  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{album.album.images[0].url}}" alt="Image">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <p class="title is-2 truncate">{{album.album.name}}</p>
        <span class="subtitle is-5 push-up">{{album.album.artists[0].name}}</span>
        <p class="push">{{album.album.release_date | date: 'yyyy'}} - {{album.album.tracks.total}} songs</p>
        <br>
        <button class="button is-primary is-outlined is-medium" *ngIf="!saved" (click)="saveAlbum(album.album)">Save</button>
        <button class="button is-primary is-medium" *ngIf="saved" (click)="removeAlbum(album.album)">Saved</button>
        <br>
      </div>
    </div>
  </div>
  <div class="column is-8">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th><i class="fa fa-clock-o"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of albumTracks; let i = index" class="clickable">
        <td>{{i + 1}}</td>
        <td>{{track.name}}</td>
        <td>{{track.duration_ms}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
