<div class="columns is-multiline push-left">
  <div class="column is-2" *ngFor="let playlist of playlists">
    <div class="card card-hover">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{playlist.images[0].url}}" alt="">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered clickable" (click)="goToPlaylist(playlist)">
          <p class="title is-5 truncate" style="margin-bottom: 5px">{{playlist.name}}</p>
          <p class="owner truncate">By {{playlist.owner.id}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
