<div class="container-fluid">
  <div class="section columns top-tracks">
    <div class="column">
      <p class="title is-1 has-text-centered">Popular</p>
      <table class="table is-table-striped is-fullwidth">
        <tbody>
        <tr *ngFor="let track of topTracks; let i = index" class="clickable">
          <td>{{i + 1}}</td>
          <td>{{track.name}}</td>
          <td>{{track.duration_ms}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section columns albums" *ngIf="artistAlbums?.length > 0">
    <div class="column push-left">
      <p class="title is-1 has-text-centered">Albums</p>
      <div class="columns is-multiline push-left">
        <div class="column is-2" *ngFor="let album of artistAlbums">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img *ngIf="album?.images.length > 0" src="{{album?.images[0].url}}" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered clickable" (click)="goToAlbum(album)">
                <p class="title is-5 truncate">{{album.name}}</p>
                <p>By {{album.artists[0].name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section columns singles" *ngIf="singles?.length > 0">
    <div class="column push-left">
      <p class="title is-1 has-text-centered">Singles</p>
      <div class="columns is-multiline push-left">
        <div class="column is-2" *ngFor="let single of singles">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img *ngIf="single?.images.length > 0" src="{{single?.images[0].url}}" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered clickable" (click)="goToAlbum(single)">
                <p class="title is-5 truncate">{{single.name}}</p>
                <p>By {{single?.artists[0].name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section columns compilations" *ngIf="compilations?.length > 0">
    <div class="column push-left">
      <p class="title is-1 has-text-centered">Compilations</p>
      <div class="columns is-multiline push-left">
        <div class="column is-2" *ngFor="let compilation of compilations">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img *ngIf="compilation?.images.length > 0" src="{{compilation?.images[0].url}}" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered clickable" (click)="goToAlbum(compilation)">
                <p class="title is-5 truncate">{{compilation.name}}</p>
                <p>By {{compilation.artists[0].name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
