<div class="columns push-left push-down">
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{playlist.images[0].url}}" alt="Image">
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <p class="title is-2">{{playlist.name}}</p>
        <p>{{playlist.description}}</p>
        <br>
        <p class="subtitle is-4">{{playlist.tracks.total}} songs</p>
        <div *ngIf="user.id != playlist.owner.id">
          <button class="button is-primary is-medium" *ngIf="followed === false" (click)="followPlaylist()">Follow</button>
          <button class="button is-primary is-medium" *ngIf="followed === true" (click)="unfollowPlaylist()">Unfollow</button>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-9">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Ablum</th>
        <th><i class="fa fa-clock-o"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr class="clickable" *ngFor="let track of playlist.tracks.items; let i = index">
        <td>{{i + 1}}</td>
        <td>{{track.track.name}}</td>
        <td>{{track.track.artists[0].name}} - {{track.track.album.name}}</td>
        <td>{{track.track.duration_ms}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
