@import "../../../assets/variables";
@import "../../../assets/bulma-variables";
footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color: $accent-color !important;
  opacity: .9;
}

.audio-player {
  margin-top: 22px;
  width: 100%;
}

.device-content {
  margin-top: 30px;
};

.song-content{
    margin: 10px;
};

.artist-name {
  &:hover {
    text-decoration: underline;
    color: $turquoise;
  }
}
