<footer class="footer" *ngIf="currentSong?.name">
  <div class="container-fluid">
    <div class="columns has-text-centered" *ngIf="currentSong">
      <div class="column is-4">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{currentSong?.album.images[0].url}}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p class="is-size-5 text-white remove-margin-bottom-spacing truncate">{{currentSong?.name}}</p>
              <p class="is-size-6 text-white remove-margin-bottom-spacing clickable artist-name truncate" (click)="goToArtist(currentSong.artists[0])">{{currentSong?.artists[0].name}}</p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-5">
        <div class="player-content">
          <div class="columns is-multiline">
            <div class="column is-12">
              <a><i class="fa fa-random text-white" [ngClass]="{'shuffle-highlight' : shuffleState}" (click)="toggleShuffle(shuffleState)" aria-hidden="true"></i></a>
              <a><i class="fa fa-step-backward text-white" (click)="playPrevious();" aria-hidden="true"></i></a>
              <a *ngIf="!isPlaying">
                <i class="fa fa-play text-white" (click)="resumePlayback()" aria-hidden="true"></i>
              </a>
              <a *ngIf="isPlaying">
                <i class="fa fa-pause text-white" (click)="pausePlayback()" aria-hidden="true"></i>
              </a>
              <a><i class="fa fa-step-forward text-white" (click)="playNext()" aria-hidden="true"></i></a>
              <a *ngIf="repeatState === 'off'"><i class="fa fa-repeat text-white" aria-hidden="true"></i></a>
              <a *ngIf="repeatState === 'track'"><i class="fa fa-repeat text-white" [ngClass]="{'repeat-highlight' : repeatState === 'track'}" aria-hidden="true"></i></a>
              <a *ngIf="repeatState === 'context'"><i class="fa fa-list text-white" [ngClass]="{'repeat-highlight' : repeatState ==='context'}" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="device-content">
          <p class="text-white">
            <i *ngIf="activeDevice?.type === 'Computer'" class="fa fa-laptop is-marginless" aria-hidden="true"></i>
            <i *ngIf="activeDevice?.type === 'Smartphone'" class="fa fa-mobile is-marginless" aria-hidden="true"></i>
            <i *ngIf="activeDevice?.type === 'Tablet'" class="fa fa-tablet is-marginless" aria-hidden="true"></i>
            <span class="push-left is-size-5">{{activeDevice?.name}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
