@import "../../../assets/variables";
@import "../../../assets/bulma-variables";
footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color: $accent-color !important;
  opacity: .9;
}

.player-content{
  margin-top: 30px;
}

.device-content {
  margin-top: 30px;
};

.song-content{
    margin: 10px;
};

.fa {
  font-size: 2em;
  margin-right: 30px;
  &:hover{
    color: lighten($turquoise, 10);
  }
}

.shuffle-highlight, .repeat-highlight{
  color: lighten($turquoise, 10);
}

.artist-name {
  &:hover {
    text-decoration: underline;
    color: $turquoise;
  }
}
