<footer *ngIf="currentSong?.name">
  <div class="container-fluid">
    <div class="columns has-text-centered push-around" *ngIf="currentSong">
      <div class="column is-one-third">
        <div class="song-content">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="{{currentSong?.album.images[0].url}}">
              </p>
            </figure>
            <div class="content">
              <p class="is-size-5 text-white remove-margin-bottom-spacing truncate">{{currentSong?.name}}</p>
              <p class="is-size-6 text-white remove-margin-bottom-spacing clickable artist-name truncate"
                 (click)="goToArtist(currentSong.artists[0])">{{currentSong?.artists[0].name}}</p>
            </div>
          </article>
        </div>
      </div>
      <div class="column is-two-thirds">
        <div class="columns">
          <div class="column is-two-thirds">
            <audio class="audio-player" controls autoplay src="{{currentSong?.preview_url}}"
                   *ngIf="currentSong.preview_url">Your browser does not support the audio tag.
            </audio>
            <article class="message is-danger" *ngIf="!currentSong?.preview_url">
              <div class="message-body">
                This track doesn't have a preview available. You can listen to the track <a
                href="{{currentSong?.external_urls.spotify}}" class="is-link">here!</a>
              </div>
            </article>
          </div>
          <div class="column is-one-third">
            <article class="message is-info" *ngIf="currentSong.preview_url">
              <div class="message-body">
                Full song <a href="{{currentSong?.external_urls.spotify}}" class="is-link">here!</a>
              </div>
            </article>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
