<div class="container-fluid">
  <div class="columns related-artists push-around">
    <div class="column">
      <div class="columns is-multiline">
        <div class="column is-2-widescreen is-one-quarter-desktop is-one-third-tablet" *ngFor="let artist of relatedArtists">
          <div class="card card-hover">
            <div class="card-image">
              <figure class="image is-square">
                <img src="{{artist.images[0]?.url}}" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="content clickable" (click)="goToArtist(artist)">
                <p class="is-size-6">{{artist.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
