<div class="container-fluid">
  <div class="columns push-around">
    <div class="column is-12">
      <div class="tabs is-centered">
        <ul>
          <li routerLinkActive="is-active"><a routerLink="/main/your-music/playlists"><span class="icon is-small"><i class="fa fa-headphones"></i></span> <span>Playlists</span></a></li>
          <li routerLinkActive="is-active"><a routerLink="/main/your-music/songs"><span class="icon is-small"><i class="fa fa-music"></i></span> <span>Songs</span></a></li>
          <li routerLinkActive="is-active"><a routerLink="/main/your-music/albums"><span class="icon is-small"><i class="fa fa-picture-o"></i></span> <span>Albums</span></a></li>
          <li routerLinkActive="is-active"><a routerLink="/main/your-music/artists"><span class="icon is-small"><i class="fa fa-users"></i></span> <span>Artists</span></a></li>
          <li routerLinkActive="is-active"><a routerLink="/main/your-music/most-played"><span class="icon is-small"><i class="fa fa-fire"></i></span> <span>Most Played</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="columns tab-data">
    <div class="column is-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
