<div class="columns push-around">
  <div class="column">
    <div class="columns is-multiline push-left">
      <div class="column is-2-widescreen is-one-quarter-desktop is-one-third-tablet" *ngFor="let artist of artists">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{artist.images[0].url}}" alt="">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p class="is-size-6 clickable link-hover" (click)="goToArtist(artist)">{{artist.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns push-around">
  <div class="column">
    <button class="button is-primary is-outlined is-fullwidth" id="loadMoreArtists" (click)="loadMoreArtists()"
            *ngIf="artists?.length < totalArtists">Load More Artists</button>
  </div>
</div>

