<app-navigation></app-navigation>
<div class="container profile">
  <div class="section profile-heading">
    <div class="columns">
      <div class="column is-2">
        <div class="image is-128x128 avatar">
          <img src="{{user.images[0].url}}">
        </div>
      </div>
      <div class="column is-6 name">
        <p><span class="title is-4">Display Name: </span> {{user.display_name}}</p>
        <p><span class="title is-4">User Id: </span> {{user.id}}</p>
        <p><span class="title is-4">Email: </span> {{user.email}}</p>
        <p><span class="title is-4">Spotify URI: </span> <a href="{{user.external_urls.spotify}}">{{user.external_urls.spotify}}</a></p>
        <p><span class="title is-4">Href: </span> <a href="{{user.href}}">{{user.external_urls.spotify}}</a></p>
      </div>
      <div class="column is-2 followers has-text-centered">
        <p class="stat-val">{{user.followers.total}}</p>
        <p class="stat-key">followers</p>
      </div>
    </div>
  </div>
  <div class="profile-options">
  </div>
</div>
<app-footer></app-footer>
