footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height: 20px;
  padding: 0rem 1.5rem 6rem;
  background-color: #535b6e !important;
}

.song-name{
  margin-top: 35px;
}

.image{
  margin-top: 20px;
}

.media-content{
  margin-top: 20px;
}

.player-content, .device-content {
  margin-top: 35px;
}

.fa {
  font-size: 2em;
  margin-right: 30px;
  &:hover{
    color: lighten(#00d1b2, 10);
  }
}

.shuffle-highlight{
  color: lighten(#00d1b2, 10);
}
