.push-around {
  margin: 8px;
}
.push-down {
  margin-top: 8px
}
.push-up{
  margin-bottom: 8px;
}
.push-right{
  margin-left: 8px;
}
.push-left{
  margin-right: 8px;
}
.padding{
  padding: 10px;
}
body{
  overflow: visible !important;
}

.inline{
  display: inline-block;
}

.bold{
  font-weight: bold;
}

.clickable{
  cursor: pointer;
}
.no-transition {
  transition: 0s !important;
}

.padding {
  padding: 10px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed {
  position: fixed;
}

.text-white {
  color: white;
}

.img-circle {
  border-radius: 50%;
}

.card-hover{
  &:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  }
}

.modal-card-head{
  background-color: #00b89c;
}

.remove-margin-bottom-spacing {
  margin-bottom: 5px !important;
}

.full-width{
  width: 100%;
}

/*
 *  custom scrool bar
 */

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #00d1b2;
}

tbody{
  tr{
    td{
      font-size: 15px;
    }
  }

  tr:hover{
    color: white;
    background-color: #00d1b2 !important;
    .td-hover {
      &:hover{
        text-decoration: underline;
        cursor: hand;
      }
    }
  }
}

body{
  margin-bottom: 50px;
}

