.push-around {
  margin: 8px;
}
.push-down {
  margin-top: 8px
}
.push-up{
  margin-bottom: 8px;
}
.push-right{
  margin-left: 8px;
}
.push-left{
  margin-right: 8px;
}
body{
  overflow: visible !important;
}

.inline{
  display: inline-block;
}

.bold{
  font-weight: bold;
}

.clickable{
  cursor: pointer;
}
.no-transition {
  transition: 0s !important;
}

.padding {
  padding: 10px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 *  custom scrool bar
 */

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #00d1b2;
}


tbody{
  tr:hover{
    color: white;
    background-color: #00d1b2 !important;
  }
}
