<nav class="nav has-shadow" id="top">
  <div class="container">
    <div class="nav-left">
    </div>
    <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
    <a class="nav-item is-tab" routerLink="/profile" routerLinkActive="is-active">
      Profile
    </a>
    <a class="nav-item is-tab" routerLink="/search" routerLinkActive="is-active">
      Search
    </a>
    <a class="nav-item is-tab" routerLink="/playlists" routerLinkActive="is-active">
      Playists
    </a>
    <a class="nav-item is-tab"  (click)="logout()">
      Logout
    </a>
  </div>
</nav>
