<p class="title is-2 has-text-centered">{{featuredPlaylists?.message}}</p>
<div class="columns is-multiline push-left">
  <div class="column is-2" *ngFor="let featured of featuredPlaylists?.playlists.items">
    <div class="card card-hover">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{featured.images[0].url}}" alt="">
        </figure>
      </div>
      <div class="card-content" (click)="goToPlaylist(featured)">
        <div class="content has-text-centered clickable">
          <p class="is-size-6 truncate">{{featured?.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
