  <aside class="menu">
    <p class="menu-label has-text-centered">
      <i class="fa fa-spotify fa-4x push-right"></i>
    </p>
    <ul class="menu-list">
      <hr>
      <li><a routerLink="/main/search" routerLinkActive="is-active">Search <i class="fa fa-search is-pulled-right" aria-hidden="true"></i></a></li>
      <hr>
      <li><a routerLink="/main/browse" routerLinkActive="is-active">Browse <i class="fa fa-list-ul is-pulled-right" aria-hidden="true"></i></a></li>
      <li><a routerLink="/main/your-music" routerLinkActive="is-active">Your Music <i class="fa fa-music is-pulled-right" aria-hidden="true"></i></a></li>
      <hr>
      <li><a routerLink="/main/profile" routerLinkActive="is-active">Profile <i class="fa fa-user is-pulled-right" aria-hidden="true"></i></a></li>
      <hr>
      <li><button class="button is-primary is-outlined is-fullwidth" data-show="quickview" data-target="quickviewDefault">Controller</button></li>
    </ul>
    <br>
  </aside>

