/* You can add global styles to this file, and also import other style files */
@import "~bulma/css/bulma.css";
@import "~font-awesome/css/font-awesome.css";
@import "assets/bulma-variables";
@import "assets/variables";
@import "~ngx-toastr/toastr.css";
@import "~bulma-switch/switch";
@import "~bulma-quickview/quickview";
@import "~bulma-tooltip/tooltip";

/* for all hero headers */

.hero.is-primary.is-bold {
  background: #3B4346 url("assets/images/bg01.jpg");
  border-bottom: solid 1px #272d30;
  box-shadow: inset 0px -1px 0px 0px #51575a;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}


html {
  background-color: $app-background;
}

body {
  overflow: visible !important;
  font-family: "Open Sans";
}

.main {
  margin-bottom: 100px;
  background-color: $app-background;
}

.push-around {
  margin: 8px;
}

.push-down {
  margin-top: 8px
}

.push-up {
  margin-bottom: 8px;
}

.push-right {
  margin-left: 8px;
}

.push-left {
  margin-right: 8px;
}

.padding {
  padding: 10px;
}

.inline {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.no-transition {
  transition: 0s !important;
}

.padding {
  padding: 10px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed {
  position: fixed;
}

.text-white {
  color: $white;
}

.no-shadow {
  box-shadow: none;
}

.img-circle {
  border-radius: 50%;
}

.card {
  box-shadow: none;
  background-color: #fafafa;
}

.card-hover {
  &:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
  }
}

.link-hover {
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

.card-footer-item {
  font-size: 1.3rem;
}

.modal-card-head {
  background-color: $turquoise;
}

.modal-pull-button-right {
  margin-left: auto;
};

.remove-margin-bottom-spacing {
  margin-bottom: 5px !important;
}

/*
 *  custom scroll bar
 */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $turquoise;
}

/* ------------------------*/


table {
  background-color: $app-background!important;
  tbody {
    tr {
      td {
        font-size: 14px;
        .fa-plus {
          font-size: 1.5em;
        }
      }
    }
    tr:hover {
      color: $white;
      background-color: $turquoise !important;
      .td-hover {
        &:hover {
          text-decoration: underline;
          cursor: hand;
        }
      }
    }
  }
}

.table-truncate {
  position: relative;
  width: 30%;
}

.table-truncate__body {
  position: absolute;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* ---- CSS overide from version 0.6 */
.tabs li.is-active a{
  border-bottom-color: $primary !important;
  color: $primary !important;
}

.menu-list a.is-active {
  background-color: $primary;
  color: $white;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: $primary !important;
}


/* toastr css */

#toast-container.toast-top-center .toast,
#toast-container.toast-bottom-center .toast {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}



