/* You can add global styles to this file, and also import other style files */
@import "~bulma/css/bulma.css";
@import "~font-awesome/css/font-awesome.css";
@import "assets/bulma-variables";
@import "assets/variables";
@import "~bulma-switch/switch";
@import "~ngx-toastr/toastr.css";
@import "~bulma-quickview/quickview";
@import "assets/base";

/* for all hero headers */

.hero.is-primary.is-bold {
  background: #3B4346 url("assets/images/bg01.jpg");
  border-bottom: solid 1px #272d30;
  box-shadow: inset 0px -1px 0px 0px #51575a;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}
