<div class="container-fluid">
  <div class="section">
    <div class="columns">
      <div class="column is-12">
        <div class="field is-grouped">
          <p class="control has-icons-left has-icons-right is-expanded">
            <input class=" input" type="text" placeholder="Search Spotify" [(ngModel)]="searchQuery"
                   (keyup.enter)="search()">
            <span class="icon is-small is-left">
                 <i class="fa fa-search"></i>
            </span>
          </p>
          <p class="control">
            <a class="button is-primary" (click)="search()">
              Search
            </a>
          </p>
        </div>
      </div>
    </div>
    <h1 class="title is-2 push-down" *ngIf="hasQuery">Showing resusts for <b>{{searchQuery}}</b></h1>
  </div>
  <div class="section artists push-left" *ngIf="hasQuery && artists?.length > 0">
    <p class="title is-2">Artists</p>
    <div class="columns">
      <div class="column is-2 clickable" *ngFor="let artist of artists" (click)="goToArtist(artist)">
        <img *ngIf="artist.images.length === 0" src="http://via.placeholder.com/126x126" alt="no image found">
        <img *ngIf="artist.images.length > 0" class="image is-128x128" src="{{artist.images[0].url}}">
        <p class="subtitle truncate">{{artist.name}}</p>
      </div>
    </div>
  </div>
  <div class="section albums push-left" *ngIf="hasQuery && albums?.length > 0">
    <p class="title is-2">Albums</p>
    <div class="columns">
      <div class="column is-2 clickable" *ngFor="let album of albums" (click)="goToAlbum(album)">
        <img *ngIf="album.images.length === 0" src="http://via.placeholder.com/126x126" alt="no image found">
        <img *ngIf="album.images.length > 0" class="image is-128x128" src="{{album.images[0].url}}">
        <p class="subtitle truncate">{{album.name}}</p>
      </div>
    </div>
  </div>
  <div class="section playlists push-left" *ngIf="hasQuery && playlists?.length > 0">
    <p class="title is-2">Playlists</p>
    <div class="columns">
      <div class="column is-2 clickable" *ngFor="let playlist of playlists" (click)="goToPlaylist(playlist)">
        <img *ngIf="playlist.images.length === 0" src="http://via.placeholder.com/126x126" alt="no image found">
        <img *ngIf="playlist.images.length > 0" class="image is-128x128" src="{{playlist.images[0].url}}">
        <p class="subtitle truncate">{{playlist.name}}</p>
      </div>
    </div>
  </div>
  <div class="section tracks push-left" *ngIf="hasQuery && tracks?.length > 0">
    <div class="columns">
      <div class="column is-12">
        <table class="table">
          <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
            <th><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
          </tr>
          <tbody>
          <tr *ngFor="let track of tracks">
            <td>{{track.name}}</td>
            <td>{{track.artists[0].name}}</td>
            <td>{{track.album.name}}</td>
            <td>{{track.duration_ms}}</td>
            <td>
              <progress class="progress  is-info" value="{{track.popularity}}" max="100"></progress>
            </td>
          </tr>
          </tbody>
        </table>
        <br>
        <button class="button is-primary is-outlined  is-fullwidth" *ngIf="tracks?.length < tracksTotal"
                (click)="loadMoreTracks()">Load More Tracks
        </button>
      </div>
    </div>
  </div>
</div>
