<div class="columns">
  <div class="column is-12 push-left">
    <div class="columns is-multiline push-left">
      <div class="column is-2" *ngFor="let album of albums">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{album.album.images[0].url}}" alt="">
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-centered clickable" (click)="goToAlbum(album)">
              <p class="title is-5 truncate">{{album.album.name}}</p>
              <p>By {{album.album.artists[0].name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns push-left">
      <div class="column is-12">
        <button class="button is-primary is-outlined  is-fullwidth" *ngIf="albums?.length < albumsTotal" (click)="loadMoreAlbums()">Load More Albums</button>
      </div>
    </div>
  </div>
</div>

