
<div class="container-fluid">
  <section class="hero is-fullheight is-dark">
    <app-navigation></app-navigation>
    <div class="hero-body">
      <div class="container has-text-centered intro-section">
        <div class="columns is-vcentered">
          <div class="column is-8 is-offset-2">
            <h1 class="title is-2">
              Welcome to My Spotify app made with Angular 2 and Bulma.
            </h1>
            <br>
            <button class="button is-success is-outlined is-large" (click)="goToSearch()">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
