@import "../../assets/variables";
@import "../../assets/bulma-variables";

.fa-spotify{
  font-size: 10em;
  color: $spotify-icon-green;
}

.contents {
  margin-top: -80px;
}

.is-dark {
  background-image: url("../../assets/images/Homepage_Background.jpg");
}

body {
  overflow: hidden;
}
