<div class="container-fluid">
  <section class="hero is-fullheight is-dark">
    <app-home-nav></app-home-nav>
    <div class="hero-body">
      <div class="container has-text-centered intro-section">
        <div class="columns is-vcentered">
          <div class="column is-8 is-offset-2">
            <h1 class="title is-2">
              Welcome to MySpotify
            </h1>
            <br>
            <button class="button is-success is-outlined is-large" (click)="goToSearch()">Your Profile</button>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li><a href="http://bulma.io">Designed with Bulma</a></li>
            <li><a href="https://cli.angular.io/">Coded with Angular 2</a></li>
            <li><a href="https://developer.spotify.com/web-api">Spotify Web Api</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
