<div class="container-fluid">
  <section class="hero is-fullheight is-dark">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-8 is-offset-2">
            <i class="fa fa-spotify"></i>
            <br>
            <button class="button is-success is-large login-button" (click)="login()">Login with Spotify</button>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li><a href="http://bulma.io">Designed with Bulma</a></li>
            <li><a href="https://cli.angular.io/">Coded with Angular 2</a></li>
            <li><a href="https://developer.spotify.com/web-api">Spotify Web Api</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
